<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>AccountAdvanced</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Dialing Options</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Remove Intl Prefix</string>
			<key>Key</key>
			<string>SubstitutePlusCharacter</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>PlusCharacterSubstitutionString</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Intl Prefix Substitution</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Network Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>1800</string>
			<key>Key</key>
			<string>ReregistrationTime</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Reg. Timeout</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable NAT</string>
			<key>Key</key>
			<string>UseNAT</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>Protocol</string>
			<key>Title</key>
			<string>Protocol</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>UDP</string>
				<string>TCP</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>Proxies</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Proxies</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>sipdomain.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Media Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>DtmfMethod</string>
			<key>Title</key>
			<string>DTMF Method</string>
			<key>Titles</key>
			<array>
				<string>RFC 2833</string>
				<string>SIP INFO</string>
				<string>Audio</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Account Authentication Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>AuthenticationName</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Auth. name</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>username by default</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>Realm</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Realm</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>wildcard character (&apos;*&apos;)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Magic Jack</string>
			<key>Key</key>
			<string>UseMJAuth</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
