<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Account</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Account</string>
			<key>Key</key>
			<string>AccountEnabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>InAppAlternateColor</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>SIP Account information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>FullName</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Name</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>John Appleseed</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>Username</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>User Name</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>Required</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>Password</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>Required</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>Domain</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Domain</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>sipdomain.com</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>Description</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Description</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>InAppPlaceholder</key>
			<string>My SIP Account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Advanced</string>
			<key>File</key>
			<string>AccountAdvanced</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSButtonSpecifier</string>
			<key>Title</key>
			<string>Delete Account</string>
			<key>InAppIsDestructive</key>
			<true/>
			<key>InAppConfirmation</key>
			<dict>
				<key>title</key>
				<string>Delete this account?</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
				<key>okTitle</key>
				<string>Delete Account</string>
			</dict>
			<key>InAppAction</key>
			<string>removeAccount:fromViewController:</string>
		</dict>
	</array>
</dict>
</plist>
