<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>MediaAdvanced</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Media Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Echo Canceller</string>
			<key>Key</key>
			<string>enableEC</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Silence Detector</string>
			<key>Key</key>
			<string>disableVad</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<false/>
			<key>FalseValue</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>clockRate</string>
			<key>Title</key>
			<string>Clock rate</string>
			<key>Titles</key>
			<array>
				<string>8000</string>
				<string>16000</string>
				<string>24000</string>
				<string>32000</string>
				<string>44100</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Audio Codecs</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Codec</string>
			<key>Title</key>
			<string>WiFi Codec</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Codec</string>
			<key>Title</key>
			<string>Cell Codec</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
