<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Network</string>
	<key>items</key>
	<array>
		<dict>
			<key>requiredCapabilities</key>
			<array>
				<string>telephony</string>
			</array>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>keepAwake</string>
			<key>label</key>
			<string>Keep Awake</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>siphonOverEDGE</string>
			<key>label</key>
			<string>Siphon over EDGE/3G</string>
			<key>requiredCapabilities</key>
			<array>
				<string>telephony</string>
			</array>
		</dict>
		<dict>
			<key>requiredCapabilities</key>
			<array>
				<string>telephony</string>
			</array>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>requiredCapabilities</key>
			<array>
				<string>telephony</string>
			</array>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>You must read your mobile subscription agreement before activate this option. The author is not responsible of your &quot;Siphon&quot; usage.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>siphonOverEDGE</string>
			<key>label</key>
			<string>Siphon over EDGE/3G</string>
			<key>requiredCapabilities</key>
			<array>
				<string>cellular-data</string>
			</array>
		</dict>
		<dict>
			<key>requiredCapabilities</key>
			<array>
				<string>cellular-data</string>
			</array>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>requiredCapabilities</key>
			<array>
				<string>cellular-data</string>
			</array>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>You must read your mobile subscription agreement before activate this option. The author is not responsible of your &quot;Siphon&quot; usage.</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Transport Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>default</key>
			<string>5060</string>
			<key>key</key>
			<string>localPort</string>
			<key>isNumeric</key>
			<true/>
			<key>label</key>
			<string>Local Port</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>stunServer</string>
			<key>isURL</key>
			<true/>
			<key>label</key>
			<string>STUN Server</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>dnsServer</string>
			<key>isURL</key>
			<false/>
			<key>label</key>
			<string>DNS</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>default</key>
			<string>15</string>
			<key>key</key>
			<string>kaInterval</string>
			<key>isNumeric</key>
			<true/>
			<key>label</key>
			<string>Keep Alive Interval</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>VPN (Temporary)</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>publicAddr</string>
			<key>isURL</key>
			<true/>
			<key>label</key>
			<string>Public IP address</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>boundAddr</string>
			<key>isURL</key>
			<true/>
			<key>label</key>
			<string>Bound IP Address</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Media Transport Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>default</key>
			<string>4000</string>
			<key>key</key>
			<string>rtpPort</string>
			<key>isNumeric</key>
			<true/>
			<key>label</key>
			<string>RTP Port</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>key</key>
			<string>enableICE</string>
			<key>label</key>
			<string>Enable ICE</string>
		</dict>
	</array>
</dict>
</plist>
