<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>Media Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Echo Canceller</string>
			<key>key</key>
			<string>enableEC</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Silence Detector</string>
			<key>key</key>
			<string>disableVad</string>
			<key>default</key>
			<false/>
			<key>negate</key>
			<true/>
		</dict>
		<dict>
			<key>detail</key>
			<string>CodecSettings</string>
			<key>label</key>
			<string>Codec</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>clockRate</string>
			<key>label</key>
			<string>Clock Rate</string>
			<key>validTitles</key>
			<array>
				<string>8000</string>
				<string>16000</string>
				<string>24000</string>
				<string>32000</string>
				<string>44100</string>
			</array>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Send DTMF with INFO</string>
			<key>key</key>
			<string>dtmfWithInfo</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>label</key>
			<string>Dialing Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Keypad play sound</string>
			<key>key</key>
			<string>keypadPlaySound</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Cellular button</string>
			<key>key</key>
			<string>cellularButton</string>
			<key>default</key>
			<false/>
			<key>set</key>
			<string>setCellularButton:specifier:</string>
			<key>requiredCapabilities</key>
			<array>
				<string>telephony</string>
			</array>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Remove Intl Prefix</string>
			<key>key</key>
			<string>removeIntlPrefix</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>intlPrefix</string>
			<key>isNumeric</key>
			<true/>
			<key>label</key>
			<string>Intl Prefix Substitution</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>You can define the substitution prefix for international prefix &apos;+&apos;, if your SIP provider doesn&apos;t manage it.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.googlecode.siphon</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>logLevel</string>
			<key>label</key>
			<string>Debugging log file</string>
			<key>validTitles</key>
			<array>
				<string>Disabled</string>
				<string>Error</string>
				<string>Warning</string>
				<string>Info</string>
				<string>Important</string>
				<string>Detailed</string>
				<string>Very detailed</string>
			</array>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Phone</string>
</dict>
</plist>
